
*{
padding: 0;
margin: 0;
}
body{
height: 100%;
}
img{
    width: 100%;
}
h1{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
/* styling the container */
.container{
display: grid;
/* grid-template-columns: repeat(5,200px); */
/* grid-template-columns: repeat(auto-fill,minmax(12rem,1fr)); fill 1fr with only */
grid-template-columns: repeat(auto-fit,minmax(12rem,1fr)); /*fill on 100% width with 1fr*/
gap: 5px;
margin-top: 10px;
}
.card{
border: 2px solid black;
box-shadow: 7px 9px 10px 3px rgba(135,121,135,1);
border-radius: 12px;
}
.content{
text-align: center;
margin: 6px;
padding: 4px;
}
a{
    text-decoration: none;
    border: px;
}
button{
    background-color: aqua;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
button:hover{
   background-color:chartreuse;
}
.card:hover{
    box-shadow: none;
    
    z-index: 2;
}